@model IEnumerable<CoreBoostrap.Models.Member>
@using X.PagedList
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@{

}

<style>
    /* .pagination {
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
    }*/

    .table {
        width: 90%;
        margin:auto;
    }
</style>

@{ ViewData["Title"] = "MemberList";
    Layout = "~/Views/Shared/_Layout1.cshtml"; }

<h1 style="text-align:center; padding-top:15px;">會員列表</h1>

@*<p>
        <a asp-action="Create"></a>
    </p>*@

    <table class="table">
        <thead>
            <tr>
                <th>
                    姓名
                </th>
                <th>
                    性別
                </th>
                <th>
                    生日
                </th>
                <th>
                    連絡電話
                </th>
                <th>
                    Email
                </th>
                <th>
                    城市
                </th>
                <th>
                    地址
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemName)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Gender.Gender1)
                        </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemBrith)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemEmail)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.City.CityName)
                        </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemAddress)
                    </td>

                    <td>
                        <a class="btn btn-info" href="@Url.Action("Edit", "Member", new { })"><i class="fas fa-pencil-alt"></i>&nbsp;修改</a>
                        <a class="btn btn-danger" href="@Url.Action("ProductEdit", "Product", new { })"><i class="fas fa-pencil-alt"></i>&nbsp;刪除</a>
                    </td>


                </tr>
            }
        </tbody>
    </table>

<div style="padding-left:40% ">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("MemberList", new { page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
<script>

</script>